@import "tailwindcss";



/* .........styling for the box-shadow */

/* .styleshadow{
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
              -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
         
} */


.styleshadow{
  box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
              -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
         
}


/* .styleshadowinset{
  box-shadow: inset 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
              inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
         
} */

.styleshadowinset{
  box-shadow: inset 5px 5px 5px -1px rgba(10, 99, 169, 0.16),
              inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
         
}